<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        
          <section name="System.Linq.Dynamic.BitWise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="BWQS_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>      
        <System.Linq.Dynamic.BitWise.Properties.Settings>
              <setting name="BWQS_Client_System_Linq_Dynamic_BitWise_Service_BWQS"
                    serializeAs="String">
                    <value>http://www.pccs.com.br/bwqs/BWQS.svc</value>
              </setting>
        </System.Linq.Dynamic.BitWise.Properties.Settings>
        <BWQS_Client.Properties.Settings>
            <setting name="BWQS_Client_System_Linq_Dynamic_BitWise_Service_BWQS"
                serializeAs="String">
                <value>http://localhost:4165/BWQS.svc</value>
            </setting>
        </BWQS_Client.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="65536" maxBufferPoolSize="2147483647"/>
        <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
</configuration>
